extends ../layouts/default

block variables
    - var pageTitle = "MIRA Jeugdkern Mailinglijst"


block content
    p E-mailadres: #{configurationEmail}

    script
        | function copy(id) {
        |   var element = document.getElementById(id);
        |   var range = document.createRange();
        |   range.selectNode(element);
        |   window.getSelection().addRange(range);
        |   document.execCommand('copy');
        |   window.getSelection().empty();
        | }
    each subscriptionList in subscriptionLists
        h1 #{pippo.i18n(subscriptionList.title)}
        a.pure-button(href="/consult/history/#{subscriptionList.id}") Geschiedenis
        button.pure-button(onclick="copy('#{subscriptionList.title}-raw')") Kopieër naar Klembord

        table.pure-table.pure-table-striped
            thead
                tr
                    th E-mail
                    th Voornaam
                    th Achternaam
            tbody
                each subscriber in subscriptionList.subscribers
                    tr
                        td #{subscriber.email}
                        td #{subscriber.voornaam}
                        td #{subscriber.achternaam}


        pre(id="#{subscriptionList.title}-raw")
            each subscriber, i in subscriptionList.subscribers
                //- Avoid leading comma-sign.
                if i == 0
                    | #{subscriber.email}
                else
                    | , #{subscriber.email}

    else
        p Geen lijsten beschikbaar.
