extends ../layouts/default

block variables
    - var pageTitle = "MIRA Jeugdkern Mailinglijst"


block content
    if subscriber.isActive()
        .callout.success
            p #{subscriber.email} werd toegevoegd aan de mailinglijst.
        - subscriber = new("be.mira.jongeren.mailinglist.domain.Subscriber")

    h1 MIRA Jeugdkern Mailinglijst

    p Schrijf je in op onze mailinglijst en dan houden wij je op de hoogte van het doen en laten van de Jeugdkern. Op deze manier mis je geen enkele activiteit!

    form.pure-form.pure-form-stacked#subscription_form(method="POST", action="/")
        input(name="_csrf", type="hidden", value="#{_csrf}")

        label.required(for="email") E-mailadres
        input.pure-input-1(type="email", id="email" value="#{subscriber.email}", name="email", required)
        +errors('email')

        label(for="voornaam") Voornaam
        input.pure-input-1(type="text", id="voornaam", value="#{subscriber.voornaam}", name="voornaam")
        +errors('voornaam')

        label(for="achternaam") Achternaam
        input.pure-input-1(type="text", id="achternaam", value="#{subscriber.achternaam}", name="achternaam")
        +errors('achternaam')

        fieldset
            legend Kies de activiteiten waarvoor je notificaties wilt ontvangen:
            +errors('subscriptions')

            each list in lists
                .pure-controls
                    label.pure-checkbox(for="list-#{list.title}")
                        input(type="checkbox", id="list-#{list.title}", name="lists", value="#{list.title}")
                        span #{pippo.i18n(list.title)}

        button.pure-button.pure-button-primary(type="submit") Inschrijven


    ul.hints
        li Om er zeker van te zijn dat je geen robot bent, sturen we je na je inschrijving een e-mailbericht met een activatiecode.
        li Je kan op ieder moment uitschrijven via deze link:
            a(href="/unsubscribe") Uitschrijven
